# .NETCore
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/[Dd]ebug/
[Bb]in/[Dd]ebugPublic/
[Bb]in/[Rr]elease/
[Bb]in/[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
TestResults/

# Visual Studio 2019
.vs/

# Docker cache
home-cache

# TypeScript and co
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
/apps/Front/node_modules/
/apps/Front.E2E/node_modules/

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Java
*.jar

# Antlr
.antlr/

# ArgoCD CLI
./scripts/argocd

# Folder mounted in our database container
manual_dumps

# Logs of the datadog tracing library
dd-trace-logs

# Terraform module dirs, state & lock files
.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl