# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.

version: '3.4'

services:
  checkoutapi:
    image: checkoutapi
    build:
      context: .
      dockerfile: Checkout.API/Dockerfile
    ports:
      - 5088:5088
  checkoutbank:
    image: checkoutbank
    build:
      context: .
      dockerfile: Checkout.Bank/Dockerfile
    ports:
      - 5046:5046
  mysql:
    container_name: checkout_db
    restart: always
    image: mysql:latest
    command: --lower_case_table_names=1
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: 'admin' # TODO: Change this
      MYSQL_USER: 'test'
      MYSQL_PASS: 'pass'
    volumes:
      - checkout-datavolume:/var/lib/mysql
volumes:
  checkout-datavolume: